<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Food Finder{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!-- Include Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Include Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKQS3lLxpPb-qaJVGbpC8fiAoCFSNeiJg&callback=initMap" defer></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <h1 id="title"><a id="titleURL" href="{% url 'index' %}">Atlanta Food Finder</a></h1>
        <nav>
            {% if user.is_authenticated %}
                <span>Welcome, <strong><a href="{% url 'profile' %}">{{ user.username }}</a></strong> |
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="auth-button">Logout</button>
                    </form>
                </span>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="auth-button">Login</button>
                </a> | 
                <a href="{% url 'signup' %}">
                    <button class="auth-button">Sign Up</button>
                </a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; {% now "Y" %} Food Finder | <a id="teamSite" href=https://jessezhang0.wixsite.com/2340team>Our Team &#9829;</p>
    </footer>

</body>
</html>