<!-- foodfinder/places/templates/places/add_review.html -->
{% extends 'base.html' %}

{% block title %}Add Review - {{ food_place.name }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/add_review.css">
{% endblock %}

{% block content %}
<h2>Add a Review for {{ food_place.name }}</h2>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Review</button>
    </form>
</div>
{% endblock %}
