{% extends 'base.html' %}

{% block title %}Add Review - {{ food_place.name }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="../../../static/css/add_review.css">
<link rel="stylesheet" type="text/css" href="../../../static/css/base.css">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add a Review for {{ food_place.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="add-review-btn">Add Review</button>
    </form>
</div>
{% endblock %}
