html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Ensure no overflow occurs */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content */
.container {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 123px); /* Subtract header and footer height */
    overflow-y: auto;
}

/* Sidebar Styling */
.sidebar {
    width: 30%;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

#map {
    width: 70%;
    height: 100%;
}

/* Header Styling */
header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 93px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid black;
}

/* Footer Styling */
footer {
    position: relative; /* Change to relative */
    bottom: 0;
    width: 100%;
    height: 30px; /* Small footer */
    line-height: 30px;
    text-align: center;
    border-top: 1px solid black;
    background-color: #f1f1f1;
    margin-top: auto; /* Ensures the footer stays at the bottom */
    padding-bottom: 10px;
}

/* Navbar adjustments */
nav {
    text-align: right;
    margin-right: 20px;
    margin-top: 50px;
}

/* Title styling */
#title {
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

/* Link styling */
#titleURL:link, #titleURL:visited {
    color: black;
    text-decoration: none;
}



