<!-- foodfinder/templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login - Food Finder{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
{% endblock %}

{% block content %}
<body>
    <div class="form-container">
        <h2>Login</h2>
        <h3>Enter your login credentials</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
<body>
{% endblock %}
